<!Doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Multiple Images Upload</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<form method = "POST" action ="" enctype="multipart/form-data"> {% csrf_token %}
			<div class="container">
				<label for="fname">Enter your first name :</label>
				<input type = "text" value ="" placeholder ="First name" name ="fname" id="fname"/>

				<label for="lname">Enter your last name :</label>
				<input type = "text" value ="" placeholder ="Last name" id="lname"/>

				<label for="dob">Date of birth :</label>
				<input type ="date" value="" placeholder="Date of birth" id="dob"/>

				<label for="sel1">Select Country:</label>
				<select class="form-control countries" name="country" id="countryId sel1">
				<option value="">Select Country</option>
				</select>
			
				<label for="sel12">Select State:</label>
				<select class="form-control states" name="state" id="sel12 stateId">
				<option value="">Select State</option>
				</select>
			
				<label for="sel13">Select City:</label>
				<select class="form-control cities" id="sel13 cityId" name="city">
				<option value="">Select City</option>
				</select>

			</div>
		</form>
			<script src="http://iamrohit.in/lab/js/location.js"></script>
	</body>
</html>