<!Doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<form method = "GET" action ="">
			<div class="container">
				<h2>Registered candidate's list</h2>
				<input type = "text" name="q" placeholder ="Search record"/>
				<input type ="submit"  value = "Search"/>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>ID</th>
							<th>Profile Image</th>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Resume</th>
						</tr>
					</thead>
					{% for con in context %}
					<tbody>
						<tr>
							<td>{{con.id}}</td>
							<td> <img src ='{{con.profile_image.url}}' height="50" width="50" class= "img-responsive"></td>
							<td>{{con.first_name}}</td>
							<td>{{con.last_name}}</td>
							<td><a href='{{con.resume.url}}' class="btn btn-primary" role="button">Download</a></td>
							<td><a href='{{con.id}}/update/' class="btn btn-success" role="button">Update</a></td>
							<td><a href='{{con.id}}/delete/' class="btn btn-warning" role="button">Delete</a></td>
						</tr>
					</tbody>
					{% endfor %}
				</table>
			</div>

		</form>
	</body>
<html>